/* Container for the entire page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  background-color: #000000; /* Dark blue background */
  color: #64ffda; /* Teal text color */
  font-family: 'Arial, sans-serif';
  text-align: center;
  min-height: 100vh; /* Full height of the viewport */
}

/* Title of the page */
.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

/* Subtitle of the page */
.subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #ccd6f6; /* Light gray text color */
}

/* Container for each music player */
.music-player-container {
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
}

/* Title of each music track */
.music-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ccd6f6; /* Light gray text color */
}

/* Audio player styling */
.audio-player {
  width: 100%;
}